@font-face {
    font-family: 'Roboto Condensed';
    src: url(/src/fonts/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Lora';
    src: url(/src/fonts/Lora/Lora-Italic-VariableFont_wght.ttf);
}

body {
    font-family: 'Roboto Condensed', 'Trebuchet MS', Helvetica, sans-serif;
    letter-spacing: 0.5px;
    font-weight: 400;
    font-size: 16px;
}

ol {
    line-height: 25px;
    font-style: normal;
    color: #838383;
    font-size: 14px;
    li {
        a {
            color: #838383;
            &:hover {
                color: #449edd;
            }
        }
    }
}

ul {
    line-height: 25px;
    li {
        color: #838383;
        font-size: 14px;
    }
}

.main__right__container__title {
    font-family: Lora;
    line-height: 25px;
    font-weight: 400;
    font-style: italic;
    color: #838383;
    font-size: 19px;
}

.header {
    height: 45px;
    background-color: #232323;
    display: flex;
    .header__contacts__wrapper {
        display: flex;
        margin: 0 auto;
        .header__contacts {
            display: flex;
            align-items: center;
            img {
                max-height: 24px;
            }
            p {
                color: #cecece;
            }
        }
    }
    .header__links__wrapper {
        display: flex;
        align-items: center;
        margin: 0 auto;
        .fa-facebook:hover {
            color: #3b5998;
            transition: all 0.2s ease-in-out;
        }
        .fa-telegram:hover {
            color: #0088cc;
            transition: all 0.2s ease-in-out;
        }
    }
}

.links {
    display: flex;
    align-items: center;
    color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
}

.section__container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    .name {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-right: 40px;
        h1 {
            text-align: center;
        }
    }
    .logo__container {
        .logo {
            width: 20vh;
            min-height: 60px;
            min-width: 60px;
            margin-right: 40px;
        }
    }

    .button__container {
        padding: 14px 20px;
        background-color: #005aab;
        border-radius: 3px;
        border: 1px solid #005aab;
        color: #fff;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        &:hover {
            color: #005aab;
            background-color: #fff;
        }
    }
}

.navigation {
    position: sticky;
    transition: 0.3s;
    z-index: 1;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #005aab;
    .nav__button {
        padding: 0px 20px 0px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            color: #232323;
            line-height: 25px;
            letter-spacing: 1px;
            font-weight: 800;
            height: 64px;
            display: flex;
            align-items: center;
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;
            &:hover {
                color: #fff;
                transition: all 0.2s ease-in-out;
                background-color: #005aab;
            }
        }
    }
}

.main__inner {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    .main__left__container {
        padding-left: 15px;
        padding-right: 15px;
        flex: 1;
        .block__img__wrapper {
            margin-top: 25px;
            max-width: 600px;
            a img {
                width: 100%;
                max-width: 600px;
            }
        }
        .left__container__img {
            width: 100%;
            height: auto;
        }
    }
    .main__right__container {
        padding-left: 15px;
        padding-right: 15px;
        flex: 1;
        .main__right__container__border {
            border-left: 6px solid #005aab;
            padding-left: 20px;
            margin-bottom: 50px;
            h4 {
                margin-bottom: 10px;
            }
        }
        p {
            text-align: justify;
            margin: 0 0 15px;
            line-height: 25px;
            letter-spacing: 0.5px;
        }
    }
}

section {
    padding-top: 100px;
}
.main__bottom {
    background-color: #f3f3f3;

    .main__bottom__general {
        padding-top: 100px;
        padding-bottom: 70px;
        display: flex;
        justify-content: center;

        h2 {
            position: relative;
            margin-bottom: 20px;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 0);
                width: 100%;
                height: 6px;
                background-color: #005aab;
                bottom: -20px;
            }
        }
    }
}

.main__bottom__blocks {
    background-color: #f3f3f3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .bottom__block {
        padding: 15px;
        max-width: calc(33.33% - 30px);
        img {
            max-width: 100%;
            display: block;
        }
        .bottom__block__background {
            padding: 28px;
            background-color: #fff;
            a {
                display: block;
                margin-top: 28px;
                color: #005aab;
                &:hover {
                    color: #232323;
                }
            }
        }
    }
}

.for__background {
    background-color: #f3f3f3;
    .form__container {
        background-color: #449edd;
        display: flex;
        .left__side {
            max-width: 400px;
            margin: 0 auto;
            padding-top: 60px;
            padding-bottom: 40px;
            color: #fff;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 50%;
            .left__side__form__title {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                h2 {
                    font-family: Open Sans;
                    font-weight: 500;
                    line-height: 28px;
                    letter-spacing: 1px;
                    font-size: 26px;
                }
                h4 {
                    padding-top: 12px;
                    font-family: Arimo;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 19px;
                    line-height: 25px;
                }
            }
            .left__side__form__container {
                margin-top: 60px;
                .left__side__form {
                    width: 100%;
                    max-width: 350px;
                    input {
                        color: #fff;
                        margin-bottom: 20px;
                        border-radius: 2px;
                        padding: 13px 10px;
                        border: 1px solid #e5e5e5;
                        width: 100%;
                        background-color: rgba(0, 0, 0, 0.03);
                        &::placeholder {
                            color: #fff;
                        }
                        &:focus {
                            background-color: #449edd;
                        }
                    }
                    .submit__button {
                        background-color: #005aab;
                        border: 3px solid #e5e5e5;
                        cursor: pointer;
                    }
                }
            }
        }
        .right__side {
            background-image: url('/src/small__img/logo__links/Запит-на-консультацію.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 50%;
        }
    }
}

.column__inner {
    padding-left: 15px;
    padding-right: 15px;
    h2 {
        margin-bottom: 15px;
    }
    .map__wrapper {
        iframe {
            width: 100%;
            max-width: 100%;
        }
    }
}

footer {
    margin-top: 100px;
    background-color: rgba(33, 33, 33, 0.97);
    .footer__text {
        color: #838383;
        p {
            text-align: center;
            padding-top: 35px;
            padding-bottom: 25px;
        }
    }
}

.img__wrapper {
    .img__container {
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('/src/small__img/korisne.jpg');
        background-size: cover;
        .img__background {
            background-color: rgba(0, 0, 0, 0.5);
            height: 300px;
            .title__container {
                position: relative;
                margin: 0 auto;
                height: 100%;
                max-width: 1145px;
                display: flex; // Add this to use flexbox
                align-items: center;
                h1 {
                    color: #fff;
                    margin: 0;
                }
            }
            .breadcrumb-wrapper {
                .breadcrumb {
                    padding: 17px 30px 14px 40px;
                    background-color: rgba(0, 0, 0, 0.54);
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    color: #005aab;
                    a {
                        color: #fff;
                    }
                }
            }
        }
    }
}

.main__korisne {
    max-width: 1170px;
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    .main__contacts {
        margin-right: 40px;
        .contact__block__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p {
                margin-bottom: 15px;
                font-size: 22px;
            }
            .messengers__wrapper {
                display: flex;
                .messenger {
                    margin: 10px 30px 15px 30px;
                    p {
                        color: #838383;
                        font-size: 14px;
                        b {
                            font-weight: 700;
                        }
                    }
                    div {
                        border-radius: 4px;
                        padding: 5px 15px;
                        margin-top: 7px;
                        display: table;
                        border: 2px solid;
                        a {
                            line-height: 25px;
                            color: #2d2d2d;
                        }
                        &:hover {
                            a {
                                color: #2a41b7;
                            }
                            border-color: #2a41b7;
                        }
                    }
                }
            }
            .pravova__block {
                margin-bottom: 60px;
                p {
                    margin-top: 20px;
                    font-size: 14px;
                }
            }
        }
    }
    .korisne__right__side {
        flex-shrink: 0;
        h3 {
            border-left: 6px solid #333;
            border-color: #2a41b7;
            padding-left: 20px;
            padding-top: 5px;
            padding-bottom: 5px;
            margin-bottom: 10px;
        }
        ul {
            margin: 0;
            padding: 0;
            li {
                list-style: none;
                padding-bottom: 13px;
                i {
                    color: #2a41b7;
                    &::before {
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
                a,
                span {
                    position: relative;
                    padding-left: 20px;
                    color: #333;
                }
                a {
                    &:hover {
                        color: #2a41b7;
                    }
                }
            }
        }
    }
}

.off__screen__menu {
    display: none;
}

@media screen and (max-width: 1110px) {
    .main__bottom__blocks .bottom__block {
        padding: 10px;
        max-width: calc(50% - 20px);
    }
    .section__container {
        margin-left: 15px;
        margin-right: 15px;
    }

    .main__korisne {
        flex-wrap: wrap;
        .main__contacts {
            margin-right: 0;
            margin: 0 auto;
        }
        .korisne__right__side {
            margin: 0 auto;
            margin-top: 60px;
        }
    }
}

@media screen and (max-width: 760px) {
    .main__bottom__blocks .bottom__block {
        padding: 5px;
        max-width: calc(100% - 10px);
    }
    .main__inner {
        flex-direction: column;
    }
    .form__container {
        flex-direction: column;
    }
    .for__background .form__container .right__side {
        min-height: 480px;
        width: 100%;
    }
    .main__left__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .block__img__wrapper {
        width: 100%;
        margin-bottom: 50px;
    }
    .button__container {
        display: none;
    }

    .section__container {
        margin-left: 15px;
        margin-right: 15px;
        justify-content: space-between;
        .name {
            margin-right: 0;
        }
        .logo__container {
            .menu {
                display: block;
                height: 40px;
                width: 40px;
                margin-left: auto;
                position: relative;
                span {
                    height: 5px;
                    width: 100%;
                    background-color: #232323;
                    border-radius: 25px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: 0.3s ease;
                    &:nth-child(1) {
                        top: 25%;
                    }
                    &:nth-child(3) {
                        top: 75%;
                    }
                }
            }
            .logo {
                display: none;
            }
        }
    }
    .navigation {
        position: static;
        .nav__button {
            display: none;
        }
    }

    .responsive__section {
        padding-top: 25px;
    }
    .off__screen__menu {
        background-color: #f3f3f3;
        width: 100%;
        display: none;
        font-size: 3rem;
        transition: 0.3s ease;
        .off__screen__list {
            width: 100%;
            list-style: none;
            margin: 0;
            padding: 25px 0px;
            .off__screen__link {
                padding: 15px 15px 15px 15px;
                a {
                    letter-spacing: 1.5px;
                    font-weight: 800;
                    font-style: normal;
                    color: #222222;
                    font-size: 18px;
                }
            }
        }
    }
    .__active {
        display: flex;
        span {
            &:nth-child(1) {
                bottom: 20px;
                top: 63% !important;
                transform: translate(-50%, -50%) rotate(45deg) !important;
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                top: 50% !important;
                transform: translate(-50%, 50%) rotate(-45deg) !important;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .header {
        justify-content: space-evenly;
        .header__contacts.responsive {
            display: none;
        }
    }
    .section__container {
        .name {
            font-size: 12px;
        }
    }
    .main__contacts {
        margin-right: 0;
    }

    .messengers__wrapper {
        flex-wrap: wrap !important;
        flex-direction: column;
        .messenger {
            div {
                min-width: 210px;
            }
        }
    }

    .korisne__left__side {
        ol {
            padding-left: 20px;
        }
    }
}
